<p>
<i>We are a busy but friendly school, with lots going on. This website aims to give you a taster of the school, as well as providing up to date information for parents, pupils and the wider community.</i>
</p>
 
<p>
<i>We hope that you enjoy your visit to our website, and that you find the information you are looking for. Please feel free to contact the school direct with any queries you may have.</i>
</p>
<hr />

 
<h1>
Dear Parents
</h1>
<p>
Welcome to our school. We are very proud of our achievements in recent years and are pleased that our most recent Ofsted Inspection only reinforced what we believe is special about our school and its members. Please take time to read the report which can be found on the website. We are especially proud of the way Ofsted recognises the strides the school has made, especially in developing leadership and teaching and learning within the school community at all levels. It also identifies how well the school promotes personal growth through our curriculum and our long established values. “developing pupils who are keen to do their best, take responsibility; preparing them to be confident, happy and motivated lifelong learners”  We are also pleased in the way we have been recognised for the broad range of curricular and extracurricular activities on offer to all pupils.
</p>
<p>
Please use the website to get an outline of the opportunities available for children at Meath Green. If you would like to visit our school please contact us and we will be pleased to arrange an appointment to show you around. Paper copies of documents on this website can be supplied on request.
</p>
